.dashboard-container{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.dashboard-container .button-box{
    display: flex;
    margin-top: 1rem;
}

.dashboard-container .travel-board {
    padding: 2rem 0;
    display: flex; 
    gap: 2rem;
    flex-wrap: wrap;
}