@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office&display=swap');
.App {
  text-align: center;
  font-family: 'Ysabeau Office', sans-serif;
}


 h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
  color: #707070;
}

.flex-center{
  width: 100%;
  display: flex;
  justify-content: center;
}